<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>3DReconstruction_of_one_room</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery 추가 -->
    <link rel="stylesheet" href="../static/css/application_css.css"> <!-- CSS 파일 링크 -->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box; /* 박스 모델 설정 */
        }
        @font-face {
            font-family: 'Spoqa Han Sans Neo';
            src: url('css/font/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Bold.ttf') format('truetype');
            font-weight: bold;
            font-style: normal;
        }
        html, body {
            height: 100%; /* 높이를 100%로 설정 */
        }
       
    </style>
</head>
<body>
	<div id="banner">미리보는 내 자취방</div> <!-- 배너 추가 -->

    <div id="buttonContainer">
        <div class="buttonGroup">
            <div class="inputContainer">
                <input type="text" class="inputField" placeholder="지역을 입력해주세요" id="locationinput"/>
                <button class="searchButton" id="searchButton">
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="34.7px" height="34.7px">    
                        <path fill="white" d="M 9 2 C 5.1458514 2 2 5.1458514 2 9 C 2 12.854149 5.1458514 16 9 16 C 10.747998 16 12.345009 15.348024 13.574219 14.28125 L 14 14.707031 L 14 16 L 19.585938 21.585938 C 20.137937 22.137937 21.033938 22.137938 21.585938 21.585938 C 22.137938 21.033938 22.137938 20.137938 21.585938 19.585938 L 16 14 L 14.707031 14 L 14.28125 13.574219 C 15.348024 12.345009 16 10.747998 16 9 C 16 5.1458514 12.854149 2 9 2 z M 9 4 C 11.773268 4 14 6.2267316 14 9 C 14 11.773268 11.773268 14 9 14 C 6.2267316 14 4 11.773268 4 9 C 4 6.2267316 6.2267316 4 9 4 z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="buttonGroup">
        <p class="text">전/월세를 선택해주세요</p> <!-- 버튼 사이에 텍스트 추가 -->
        <div class="buttonRow">
            <button class="rotateButton" id="Rent1">전세</button>
            <button class="rotateButton" id="Rent2">월세</button>
        </div>
        </div>
        <div class="buttonGroup hidden" id="depositGroup">
            <p class="text">보증금 가격을 선택해주세요</p> <!-- 버튼 사이에 텍스트 추가 -->
            <div class="buttonRow">
                <button class="rotateButton" id="depositprice1">300만원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->
                <button class="rotateButton" id="depositprice2">500만원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->
                <button class="rotateButton" id="depositprice3">1000만원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->
                <button class="rotateButton" id="depositprice4">5000만원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->
            </div>
        </div>
        <div class="buttonGroup hidden" id="monthrentGroup">
            <p class="text">월세 가격을 선택해​주세요</p> <!-- 버튼 사이에 텍스트 추가 -->
            <div class="buttonRow">
                <button class="rotateButton" id="monthprice1">30만원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->
                <button class="rotateButton" id="monthprice2">50만원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->
                <button class="rotateButton" id="monthprice3">100만원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->
                <button class="rotateButton" id="monthprice4">200만원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->  
            </div>
        </div>
        <div class="buttonGroup hidden" id="rentGroup">
            <p class="text">전세 가격을 선택해​주세요</p> <!-- 버튼 사이에 텍스트 추가 -->
            <div class="buttonRow">
                <button class="rotateButton" id="rentprice1">1억원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->
                <button class="rotateButton" id="rentprice2">5억원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->
                <button class="rotateButton" id="rentprice3">10억원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->
                <button class="rotateButton" id="rentprice4">20억원</button> <!-- 보증금 버튼을 전세 버튼 아래에 위치 -->  
            </div>
        </div>
    </div>

    <div class="loading-wrap ">
        <div class="loading-spinner hidden" id = "spinner"></div>
        <p class = "hidden" id="spinnerText">해당 정보를 가져오고 있습니다..</p>
    </div>

    <div id="sceneButtonContainer">
        <div class ="scenequestion hidden" id= "openSceneButton"> 
            <p class="text">보고싶은 방을 클릭하고 Run 버튼을 눌러주세요</p>
        </div>
        <div class = "sceneGroup ">
        <div class="buttonRow">
            <button class="sceneButton hidden" id="openScene1Button">
                <p>해당하는 조건의 <br>
                방이 존재하지 않습니다
                <pre>{{result}}</pre>
             </p>
            </button>
        </div>
        <div class="buttonRow">
            <button class="sceneButton hidden" id="openScene2Button">
                <p>해당하는 조건의 <br>
                    방이 존재하지 않습니다</p>
            </button>
        </div>        
        <div class="buttonRow">
            <button class="sceneButton hidden" id="openScene3Button">
                <p>해당하는 조건의 <br>
                    방이 존재하지 않습니다</p>
            </button>
        </div>
        </div>
        <div class = "sceneGroup">
            <div class="buttonRow">
                <button class=" sceneButton2 hidden" id="openScene4Button" onclick="goToRenderingPage()">
                    <p> Run <br>
                        3D Reconstruction</p>
                </button>
            </div>
        </div>
    </div>
    <script>
        let saveData =[];
        renderData = [];
        if (sessionStorage.getItem('renderData')) {
            let renderData = sessionStorage.getItem('renderData');
        } else {
            let renderData = [];
        }
        
        document.getElementById('searchButton').addEventListener('click', () => {
            const input = document.getElementById('locationinput');
            if (input.value) {
                //sendData(input.value);
                window.localStorage.clear();
                resetButton();
                applyHiddenClass();
                saveData.push({region : input.value});
                console.log("입력된 지역:", input.value); // 실제로는 원하는 동작으로 변경 가능
            }
        });
        document.getElementById('locationinput').addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                document.getElementById('searchButton').click();
            }
        }); 
        
        
        const groups = {
            deposit: document.getElementById('depositGroup'),
            rent: document.getElementById('rentGroup'),
            monthRent: document.getElementById('monthrentGroup')
        };

        const buttons = {
            Rent1 : () => {
                groups.rent.classList.remove('hidden') ;
                groups.deposit.classList.add('hidden');
                groups.monthRent.classList.add('hidden');
                saveData = saveData.map(item => ({
                    ...item,
                    rentype : '전세'
                }));
                toggleActiveButton('Rent1');
                reset('Rent1')
                saveGroupState();
            },
            Rent2: () => {
                groups.deposit.classList.remove('hidden');
                groups.rent.classList.add('hidden');
                saveData = saveData.map(item => ({
                    ...item,
                    rentype : '월세'
                }));
                toggleActiveButton('Rent2');
                reset('Rent2')
                saveGroupState();
            },
            depositprice1: () => {
                groups.monthRent.classList.remove('hidden');
                saveData = saveData.map(item => ({
                    ...item,
                    depositprice : '300만원'
                }));
                toggleActiveButton('depositprice1');
                saveGroupState();
            },
            depositprice2: () => {
                groups.monthRent.classList.remove('hidden');
                saveData = saveData.map(item => ({
                    ...item,
                    depositprice : '500만원'
                }));
                toggleActiveButton('depositprice2');
                saveGroupState();
            },
            depositprice3: () => {
                groups.monthRent.classList.remove('hidden');
                saveData = saveData.map(item => ({
                    ...item,
                    depositprice : '1000만원'
                }));
                toggleActiveButton('depositprice3');
                saveGroupState();
            },
            depositprice4: () => {
                groups.monthRent.classList.remove('hidden');
                saveData = saveData.map(item => ({
                    ...item,
                    depositprice : '5000만원'
                }));
                toggleActiveButton('depositprice4');
                saveGroupState();
            },
            monthprice1: () => {
                saveData = saveData.map(item => ({
                    ...item,
                    monthprice : '30만원'
                }));                
                toggleActiveButton('monthprice1');
                saveGroupState();
            },
            monthprice2: () => {
                saveData = saveData.map(item => ({
                    ...item,
                    monthprice : '50만원'
                }));
                toggleActiveButton('monthprice2');
                saveGroupState();
            },
            monthprice3: () => {
                saveData = saveData.map(item => ({
                    ...item,
                    monthprice : '100만원'
                }));
                toggleActiveButton('monthprice3');
                saveGroupState();
            },
            monthprice4: () => {
                saveData = saveData.map(item => ({
                    ...item,
                    monthprice : '200만원'
                }));
                toggleActiveButton('monthprice4');
                saveGroupState();
            },
            rentprice1: () => {
                saveData = saveData.map(item => ({
                    ...item,
                    rentprice : '1억원'
                }));
                toggleActiveButton('rentprice1');
                saveGroupState();
            },
            rentprice2: () => {
                saveData = saveData.map(item => ({
                    ...item,
                    rentprice : '5억원'
                }));
                toggleActiveButton('rentprice2');
                saveGroupState();
            },
            rentprice3: () => {
                saveData = saveData.map(item => ({
                    ...item,
                    rentprice : '10억원'
                }));
                toggleActiveButton('rentprice3');
                saveGroupState();
            },
            rentprice4: () => {
                saveData = saveData.map(item => ({
                    ...item,
                    rentprice : '20억원'
                }));
                toggleActiveButton('rentprice4');
                saveGroupState();
            },
            openScene1Button: () => {
                toggleActiveButton('openScene1Button');
                saveGroupState();
                sessionStorage.setItem('renderData',renderData)
            },
            openScene2Button: () => {
                toggleActiveButton('openScene2Button');
                saveGroupState();
                sessionStorage.setItem('renderData',renderData)
            },
            openScene3Button: () => {
                toggleActiveButton('openScene3Button');
                saveGroupState();
                sessionStorage.setItem('renderData',renderData)
            },
        };

        // 버튼 클릭 이벤트 리스너 등록
        for (const [buttonId, action] of Object.entries(buttons)) {
            const buttonElement = document.getElementById(buttonId);

            buttonElement.addEventListener('click', () => {
                action();

                //sendData(buttonText)
                localStorage.setItem(`buttonState${buttonId}`,buttonElement.classList.contains('activeButton'))
            });
        } 

        const sceneButtons = [
        'openScene1Button',
        'openScene2Button',
        'openScene3Button',
        'openScene4Button'
        ];

        window.onload =() => {
            if (performance.navigation.type === performance.navigation.TYPE_BACK_FORWARD) {
                restoreGroupState();
                for(const [buttonId,action] of Object.entries(buttons)) {
                    const state = localStorage.getItem(`buttonState${buttonId}`);
                    if (state == 'true') { 
                        const buttonGroupPrefix = buttonId.charAt(0);
                        const buttonGroup = Object.keys(buttons).filter(buttonId => buttonId.startsWith(buttonGroupPrefix));
                        buttonGroup.forEach(buttonId => {
                            document.getElementById(buttonId).classList.remove('hidden')
                        })
                        const saveResult = localStorage.getItem('sceneText');
                        document.getElementById('openScene1Button').innerText = saveResult;
                        document.getElementById('openSceneButton').classList.remove('hidden');
                        document.getElementById('openScene4Button').classList.remove('hidden');
                        document.getElementById(buttonId).classList.add('activeButton');
                    }
                }
            }
            else{
                resetButton();
            }
        };

        // rent 유형에 따른 버튼 초기화 함수
        function reset(clickedButtonId) { 
            const clickedButtonPrefix = clickedButtonId; 
            const activeButtons = [];
            for (const buttonId of Object.keys(buttons)) {
                if (buttonId != clickedButtonPrefix) {
                    activeButtons.push(buttonId);
                }
            }
            activeButtons.forEach(buttonId => {
                document.getElementById(buttonId).classList.remove('activeButton');
                localStorage.setItem(`buttonState${buttonId}`, 'false');
            });
        }
        function resetButton() {
           const activeButtons = document.querySelectorAll('.activeButton');
           activeButtons.forEach(button => {
            button.classList.remove('activeButton');
        });
        }

        const idsToHide = ['depositGroup' ,'monthrentGroup' ,'rentGroup', 'openScene1Button', 'openScene2Button' ,'openScene3Button','openSceneButton','openScene4Button'];

        function applyHiddenClass() {
            idsToHide.forEach(id => {
                const element = document.getElementById(id);
                if (element) {
                    element.classList.add('hidden'); // hidden 클래스 추가
                }
            });
        
            console.log("hidden 클래스가 적용되었습니다.");
        }
        
        // activeButton 클래스 토글 함수
        const sceneopenButtons = {
            ques : document.getElementById('openSceneButton'),
            open1: document.getElementById('openScene1Button'),
            open2: document.getElementById('openScene2Button'),
            open3: document.getElementById('openScene3Button'),
            open4 : document.getElementById('openScene4Button')
        };
        let lastClickedGroup = '';

        function toggleActiveButton(clickedButtonId) {
            const clickedButtonPrefix = clickedButtonId.charAt(0); // 클릭한 버튼의 앞글자
            const activeButtons = [];

            for (const buttonId of Object.keys(buttons)) {
                if (buttonId.charAt(0) === clickedButtonPrefix) {
                    activeButtons.push(buttonId);
                }
            }
            // 모든 버튼에서 activeButton 클래스 제거
            const renderbuttons = ['openScene1Button', 'openScene2Button', 'openScene3Button'];
            const isActive = document.getElementById(clickedButtonId).classList.contains('activeButton');
            activeButtons.forEach(buttonId => {
                if (!renderbuttons.includes(buttonId)){
                document.getElementById(buttonId).classList.remove('activeButton');
                localStorage.setItem(`buttonState${buttonId}`, 'false');
                }else{
                    if (isActive) {
                        document.getElementById(clickedButtonId).classList.remove('activeButton');
                        localStorage.setItem(`buttonState${clickedButtonId}`, 'false');
                        renderData = renderData.filter(buttonId => buttonId !== clickedButtonId);
                    } else{
                        document.getElementById(clickedButtonId).classList.add('activeButton');
                        localStorage.setItem(`buttonState${clickedButtonId}`,`true`)
                        renderData.push(clickedButtonId);
                    }
                }
            });
            // 클릭한 버튼에 activeButton 클래스 추가
            if (!renderbuttons.includes(clickedButtonId)){
            document.getElementById(clickedButtonId).classList.add('activeButton');
            localStorage.setItem(`buttonState${clickedButtonId}`,`true`)
            };

            lastClickedGroup = clickedButtonId;
            const sceneElements = document.querySelectorAll('.sceneButton');
            const sceneQuestion = document.querySelector('#openSceneButton');
            const sceneElements2 = document.querySelector('.sceneButton2');
            if (lastClickedGroup.startsWith('rentprice') || lastClickedGroup.startsWith('monthprice') ) {
                document.querySelector('.loading-spinner').classList.remove('hidden')
                document.querySelector('#spinnerText').classList.remove('hidden')
                sendData(saveData)
            } else if(lastClickedGroup.startsWith('open')) {
                /*렌더링 데이터 보내기 코드작성 필요*/
                console.log('클릭된 버튼 주소', renderData)
            }
            
            else {
                sceneElements.forEach(sceneElement => {
                    sceneElement.classList.add('hidden'); // 모든 요소에서 hidden 클래스 추가
                });
                sceneElements2.classList.add('hidden')
                sceneQuestion.classList.add('hidden');
            }
            console.log('저장된 데이터',saveData)
        }
        function saveGroupState() {
            Object.keys(groups).forEach(groupKey => {
                const group = groups[groupKey];
                localStorage.setItem(`${groupKey}Visible`, !group.classList.contains('hidden'));
            });
        }
        function saveGroupState2() {
            Object.keys(sceneopenButtons).forEach(groupKey => {
                const scenebutton = sceneopenButtons[groupKey];
                localStorage.setItem(`${groupKey}Visible`, !scenebutton.classList.contains('hidden'));
            });
        }
        // 그룹 상태를 복원하는 함수
        function restoreGroupState() {
            Object.keys(groups).forEach(groupKey => {
                const isVisible = localStorage.getItem(`${groupKey}Visible`) === 'true';
                if (isVisible) {
                    groups[groupKey].classList.remove('hidden');
                } else {
                    groups[groupKey].classList.add('hidden');
                }
            });
            Object.keys(sceneopenButtons).forEach(groupKey => {
                const isVisible2 = localStorage.getItem(`${groupKey}Visible`) ==='true';
                if (isVisible2) {
                    sceneopenButtons[groupKey].classList.remove('hidden');
                } else {
                    sceneopenButtons[groupKey].classList.add('hidden');
                }
            }) 
        }
        function goToRenderingPage() { 
            const uniqueRenderData = [...new Set(renderData)]
            const RenderAddress = uniqueRenderData.map(id=> id.match(/\d+/))
            .filter(num=> num!= null).map(num=> num[0]).map(Number).sort((a,b) => a-b);
            let resultAddress;
            if (RenderAddress ===1) {
                resultAddress = `model${RenderAddress[0]}.glb`;
            } else if (RenderAddress.length === 2) {
                if (RenderAddress[0] ===1 && RenderAddress[1] === 2){
                    resultAddress =`merged_scene_v1.glb`;
                } else if (RenderAddress[0] ===1 && RenderAddress[1] === 3){
                    resultAddress =`merged_scene_v2.glb`;
                }else if (RenderAddress[0] ===2 && RenderAddress[1] === 3){
                    resultAddress =`merged_scene_v3.glb`;
                    console.log(resultAddress)
                }
            }else{
                    resultAddress =`merged_scene_v4.glb`;
                }            
            
            //const resultAddress = `merged_scene_v_${RenderAddress.join('_')}.glb`;
            console.log(resultAddress)
            localStorage.setItem('RenderingImages',resultAddress)
            window.location.href = '/threeDpage'; 

        }
        function sendData(inform) {
            fetch('http://127.0.0.1:5000/process', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ data: inform }),
            })
            .then(response => response.json())
            .then(data => {
                // 결과를 HTML에 표시
                if (data.success){
                    document.querySelector('.loading-spinner').classList.add('hidden')
                    document.querySelector('#spinnerText').classList.add('hidden')
                    localStorage.setItem('sceneText',data.result)
                    document.getElementById('openSceneButton').classList.remove('hidden');
                    document.getElementById('openScene1Button').classList.remove('hidden');
                    document.getElementById('openScene2Button').classList.remove('hidden');
                    document.getElementById('openScene3Button').classList.remove('hidden');
                    document.getElementById('openScene4Button').classList.remove('hidden');  
                    document.getElementById('openScene1Button').innerText = data.result;
                    document.getElementById('sceneButtonContainer').classList.remove('hidden');
            }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>