<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../static/css/threeDcss.css">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Three.js 씬 페이지</title>
        <style>
            body { margin: 0; }
            canvas { display: block; }
            @font-face {
                font-family: 'Spoqa Han Sans Neo';
                src: url('css/font/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Bold.ttf') format('truetype');
                font-weight: bold;
                font-style: normal;
            }
        </style>
    </head> 
    <body>	
        <button id="load3dButton">Load 3d Model</button>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dat.gui@0.7.7/build/dat.gui.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/RGBELoader.js"></script>
        <script src="../static/js/base.js"></script>
    </body>
</html>
