@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../font/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo_TTF_original/SpoqaHanSansNeo-Bold.ttf') format('truetype');
    font-weight: bold; /* 글꼴 두께 */
    font-style: normal; /* 글꼴 스타일 */
}

/* 기본 스타일 적용 */
body {
    font-family: 'Spoqa Han Sans Neo', sans-serif; /* 웹 전체 폰트로 지정 */
    margin: 0; 
    background-color: #172627; /* 배경색을 흰색으로 설정 */
    line-height: 1.38235294em; /* 줄 간격 */
    letter-spacing: 0em; /* 글자 간격 */}
canvas { display: block; }
 /* 배너 스타일 */
#banner {
    cursor: pointer;
    width: 100%; /* 전체 너비 */
    color: white; /* 배너 텍스트 색상 */
    padding: 20px; /* 패딩 */
    font-size: 35px; /* 폰트 크기 */
    position: absolute; /* 위치 조정 */
    top: 3%; /* 상단에 위치 */
    left: 1.3%; /* 좌측에 위치 */
    z-index: 10;
}
#threeDcontainer {
    width : 80vw;
    height: 80vh;
    background-color: #eeeeee;
    overflow: hidden;
    position : absolute;
    border-radius: 15px;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#load3dButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}